In [1]:
from assign_unique_ids_functions import *
import pandas as pd

In [2]:
df = pd.read_csv("../input/accused.csv.gz")

/Users/invinst/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
dfu = df[["first_name", "last_name", "first_name_NS", "last_name_NS", 
          "middle_initial","middle_initial2", "suffix_name", 
          "appointed_date", "birth_year", "race", "gender",
          "current_unit", "current_star", "current_rank"]].drop_duplicates()
dfu.shape

(23624, 14)

In [6]:
id_cols = ["first_name", "last_name", "first_name_NS", "last_name_NS", 
          "middle_initial","middle_initial2", "suffix_name", 
          "appointed_date"]
keep_duplicates(dfu, id_cols)

,first_name,last_name,first_name_NS,last_name_NS,middle_initial,middle_initial2,suffix_name,appointed_date,birth_year,race,gender,current_unit,current_star,current_rank
1750,AARON,CHATMAN,AARON,CHATMAN,NaN,NaN,NaN,1990-08-27,1966.0,BLACK,MALE,002,1245.0,SGT
48002,AARON,CHATMAN,AARON,CHATMAN,NaN,NaN,NaN,1990-08-27,1966.0,BLACK,MALE,2,1245.0,SGT
17445,AARON,COBB,AARON,COBB,NaN,NaN,NaN,1996-12-02,1968.0,BLACK,MALE,620,20475.0,DET
33623,AARON,COBB,AARON,COBB,NaN,NaN,NaN,1996-12-02,1968.0,BLACK,MALE,620,20475.0,DET
27225,AARON,COTTON,AARON,COTTON,NaN,NaN,JR,1986-11-17,1965.0,BLACK,MALE,384,11867.0,PO
33523,AARON,COTTON,AARON,COTTON,NaN,NaN,JR,1986-11-17,1965.0,BLACK,MALE,384,11867.0,PO
1268,AARON,CUNNINGHAM,AARON,CUNNINGHAM,NaN,NaN,NaN,1998-06-29,1967.0,WHITE,MALE,116,10758.0,PO
34477,AARON,CUNNINGHAM,AARON,CUNNINGHAM,NaN,NaN,NaN,1998-06-29,1967.0,WHITE,MALE,116,10758.0,PO
15597,AARON,DAVIS,AARON,DAVIS,NaN,NaN,III,2000-02-28,1967.0,BLACK,MALE,116,14470.0,PO
37872,AARON,DAVIS,AARON,DAVIS,NaN,NaN,III,2000-02-28,1967.0,BLACK,MALE,116,14470.0,PO
17313,AARON,DEL VALLE,AARON,DELVALLE,NaN,NaN,NaN,2000-08-14,1972.0,WHITE,MALE,009,NaN,PO
63346,AARON,DEL VALLE,AARON,DELVALLE,NaN,NaN,NaN,2000-08-14,1972.0,WHITE,MALE,9,NaN,PO
1919,AARON,HOLTON,AARON,HOLTON,NaN,NaN,NaN,1990-03-26,1957.0,BLACK,MALE,018,NaN,PO
44983,AARON,HOLTON,AARON,HOLTON,NaN,NaN,NaN,1990-03-26,1957.0,BLACK,MALE,18,NaN,PO
15370,AARON,KIZZIAH,AARON,KIZZIAH,NaN,NaN,NaN,1993-12-13,1965.0,WHITE,MALE,019,7304.0,PO
39934,AARON,KIZZIAH,AARON,KIZZIAH,NaN,NaN,NaN,1993-12-13,1965.0,WHITE,MALE,19,7304.0,PO
4595,AARON,LONG,AARON,LONG,NaN,NaN,NaN,1996-03-18,1969.0,BLACK,MALE,376,NaN,PO
37760,AARON,LONG,AARON,LONG,NaN,NaN,NaN,1996-03-18,1969.0,BLACK,MALE,376,NaN,PO
8732,AARON,PENA,AARON,PENA,NaN,NaN,NaN,1986-07-14,1946.0,WHITE,MALE,376,NaN,PO
33118,AARON,PENA,AARON,PENA,NaN,NaN,NaN,1986-07-14,1946.0,WHITE,MALE,376,NaN,PO
4840,AARON,PRICE,AARON,PRICE,NaN,NaN,NaN,1999-05-10,1962.0,BLACK,MALE,005,NaN,PO
34579,AARON,PRICE,AARON,PRICE,NaN,NaN,NaN,1999-05-10,1962.0,BLACK,MALE,5,NaN,PO
8126,AARON,WASHINGTON,AARON,WASHINGTON,NaN,NaN,NaN,1982-07-19,1956.0,BLACK,MALE,171,NaN,PO
58986,AARON,WASHINGTON,AARON,WASHINGTON,NaN,NaN,NaN,1982-07-19,1956.0,BLACK,MALE,171,NaN,PO
6641,AARON,WASHINGTON,AARON,WASHINGTON,NaN,NaN,NaN,1994-08-01,1968.0,BLACK,MALE,376,NaN,PO
34345,AARON,WASHINGTON,AARON,WASHINGTON,NaN,NaN,NaN,1994-08-01,1968.0,BLACK,MALE,376,NaN,PO
444,ABDALLA,ABUZANAT,ABDALLA,ABUZANAT,NaN,NaN,NaN,1998-06-29,1971.0,API,MALE,277,15206.0,ET
33542,ABDALLA,ABUZANAT,ABDALLA,ABUZANAT,NaN,NaN,NaN,1998-06-29,1971.0,API,MALE,277,15206.0,ET
4405,ABDUL,JONES,ABDUL,JONES,NaN,NaN,NaN,1998-10-26,1972.0,BLACK,MALE,015,13328.0,PO
54515,ABDUL,JONES,ABDUL,JONES,NaN,NaN,NaN,1998-10-26,1972.0,BLACK,MALE,15,13328.0,PO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1749,YVONNE,DANZY,YVONNE,DANZY,NaN,NaN,NaN,1997-05-05,1961.0,BLACK,FEMALE,166,NaN,PO
36747,YVONNE,DANZY,YVONNE,DANZY,NaN,NaN,NaN,1997-05-05,1961.0,BLACK,FEMALE,166,NaN,PO
18059,YVONNE,DEAR,YVONNE,DEAR,NaN,NaN,NaN,1991-12-16,1963.0,BLACK,FEMALE,018,NaN,PO
44927,YVONNE,DEAR,YVONNE,DEAR,NaN,NaN,NaN,1991-12-16,1963.0,BLACK,FEMALE,18,NaN,PO
2662,YVONNE,DELIA,YVONNE,DELIA,NaN,NaN,NaN,1986-11-17,1955.0,WHITE,FEMALE,008,NaN,FTO
41149,YVONNE,DELIA,YVONNE,DELIA,NaN,NaN,NaN,1986-11-17,1955.0,WHITE,FEMALE,8,NaN,FTO
2333,YVONNE,FISHER,YVONNE,FISHER,NaN,NaN,NaN,1988-12-05,1954.0,BLACK,FEMALE,376,NaN,PO
40935,YVONNE,FISHER,YVONNE,FISHER,NaN,NaN,NaN,1988-12-05,1954.0,BLACK,FEMALE,376,NaN,PO
3792,YVONNE,PAGE,YVONNE,PAGE,NaN,NaN,NaN,1995-06-05,1972.0,BLACK,FEMALE,126,13977.0,PO
101406,YVONNE,PAGE,YVONNE,PAGE,NaN,NaN,NaN,1995-06-05,1972.0,BLACK,FEMALE,126,13977.0,PO
2854,YVONNE,ROBINSON,YVONNE,ROBINSON,NaN,NaN,NaN,1974-04-15,1947.0,BLACK,FEMALE,376,NaN,SGT
38362,YVONNE,ROBINSON,YVONNE,ROBINSON,NaN,NaN,NaN,1974-04-15,1947.0,BLACK,FEMALE,376,NaN,SGT
28177,YVONNE,TERRY,YVONNE,TERRY,NaN,NaN,NaN,1990-03-26,1963.0,BLACK,FEMALE,123,1386.0,SGT
51960,YVONNE,TERRY,YVONNE,TERRY,NaN,NaN,NaN,1990-03-26,1963.0,BLACK,FEMALE,123,1386.0,SGT
2718,ZACHARY,SCOTT,ZACHARY,SCOTT,NaN,NaN,NaN,1994-05-02,1960.0,BLACK,MALE,005,6187.0,PO
34220,ZACHARY,SCOTT,ZACHARY,SCOTT,NaN,NaN,NaN,1994-05-02,1960.0,BLACK,MALE,5,6187.0,PO
1845,ZARAK,GUNTER,ZARAK,GUNTER,NaN,NaN,NaN,1997-07-07,1971.0,BLACK,MALE,004,14741.0,PO
53886,ZARAK,GUNTER,ZARAK,GUNTER,NaN,NaN,NaN,1997-07-07,1971.0,BLACK,MALE,4,14741.0,PO
2489,ZARAK,KHAN,ZARAK,KHAN,NaN,NaN,NaN,1999-05-10,1972.0,API,MALE,376,10495.0,PO
34899,ZARAK,KHAN,ZARAK,KHAN,NaN,NaN,NaN,1999-05-10,1972.0,API,MALE,376,10495.0,PO
22685,ZBIG IEW,SNIEZEK,ZBIGIEW,SNIEZEK,NaN,NaN,NaN,2000-10-10,1973.0,WHITE,MALE,610,21436.0,DET
38240,ZBIG IEW,SNIEZEK,ZBIGIEW,SNIEZEK,NaN,NaN,NaN,2000-10-10,1973.0,WHITE,MALE,610,21436.0,DET
7843,ZELDA,WILLIAMS,ZELDA,WILLIAMS,NaN,NaN,NaN,1999-06-21,1958.0,BLACK,FEMALE,015,NaN,PO
50622,ZELDA,WILLIAMS,ZELDA,WILLIAMS,NaN,NaN,NaN,1999-06-21,1958.0,BLACK,FEMALE,15,NaN,PO
4645,ZENA,WILLIAMS,ZENA,WILLIAMS,NaN,NaN,NaN,1991-01-30,1963.0,BLACK,FEMALE,020,10073.0,PO
43202,ZENA,WILLIAMS,ZENA,WILLIAMS,NaN,NaN,NaN,1991-01-30,1963.0,BLACK,FEMALE,20,10073.0,PO
27936,ZIAD,HAMIDEH,ZIAD,HAMIDEH,NaN,NaN,NaN,1997-03-17,1969.0,API,MALE,050,19186.0,PO
121156,ZIAD,HAMIDEH,ZIAD,HAMIDEH,NaN,NaN,NaN,1997-03-17,1969.0,API,MALE,50,19186.0,PO
11902,ZORAN,MIUCIN,ZORAN,MIUCIN,NaN,NaN,NaN,1995-02-06,1968.0,WHITE,MALE,020,18966.0,PO
34927,ZORAN,MIUCIN,ZORAN,MIUCIN,NaN,NaN,NaN,1995-02-06,1968.0,WHITE,MALE,20,18966.0,PO

In [22]:
keep_duplicates(dfu, id_cols).to_csv('accused_possible_duplicates.csv')

In [23]:
id_cols = ["First.Name", "Last.Name", "Appointed.Date", "Birth.Year", "Race", "Gender"]
keep_duplicates(dfu, id_cols)

,First.Name,Last.Name,Middle.Initial,Suffix.Name,Appointed.Date,Birth.Year,Race,Gender,Current.Unit,Current.Star,Current.Rank
96278,JAMES,BANSLEY,NaN,NaN,2009-12-16,1983,WHITE,MALE,193,10927,PO
100055,JAMES,BANSLEY,NaN,NaN,2009-12-16,1983,WHITE,MALE,4,8791,PO
6912,JOSE,CHAMBERS,NaN,NaN,2000-01-24,1972,BLACK,MALE,-999,-999,PO
37058,JOSE,CHAMBERS,NaN,NaN,2000-01-24,1972,BLACK,MALE,2,4955,PO
2021,TIMOTHY,OBRIEN,P,NaN,1995-01-03,1967,WHITE,MALE,630,20899,DET
2637,TIMOTHY,OBRIEN,NaN,NaN,1995-01-03,1967,WHITE,MALE,630,21797,DET